:where(.css-dev-only-do-not-override-1d4w9r2).ant-menu-horizontal {
    line-height: 46px;
    border: 0;
    border-bottom: none !important  ;
    box-shadow: none;
}

.home-menu-item {
    padding-left: 0 !important;
  }