.title-detail-header {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.box-detail-header {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content-detail-header {
    padding: 20px;
    line-height: 2;
}

.title-header-box-detail {
    font-weight: bold;
    font-size: 20;
    text-align: center;
}

.year-box-detail {
    color: red;
}

.advise-detail {
    font-size: 16px;
    font-weight: 500;
    color: rgb(9, 223, 9);
}

.phoneNumber-detail {
    color: red;
}

.color-price-detail {
    color: red;
    font-size: 17px;
}

.price-detail {
    font-size: 17px;
}

.box-tow-detail {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    line-height: 2;
}

.content-box-detail {
    padding: 10px;
}

.title-box-tow-detail-2 {
    font-size: 20px;
    font-weight: 500;
    color: red;
}

.title-box-tow-detail-3 {
    font-size: 17px;
    font-weight: 400;
    color: red;
}

.content-box-tow-detail-4 {
    font-size: 16px;
}

.image-box-tow-detail-5 {
    margin-bottom: 20px;
}
